/* Import Google font - Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}

.menu {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: f6f7fb;
    top: 0;
    left: 0;
    font-size: 32px;
    color: black;

}

.menu ul {
    list-style: none;
    text-align: center;
    position: relative;
    top: 30%;

}

.menu li {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.menu a {
text-decoration: none;
}

.menu a:hover {
    border-bottom: 3px dotted black;
}

.used {
    border-bottom: 3px solid black;
}

hr {
    width: 50%;
    border-style: dashed;
    position: absolute;
    top: 20%;

}


.container {
    position: relative;
    padding: 2rem 7rem;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;

}

@media (max-width: 700px) {
    .container {
        width: 95%;
        padding: 10%;
    }
}

.result_images {
    display: flex;
    column-gap: 7rem;
    justify-content: center;
}

@media (max-width: 700px) {
    .result_images {
        column-gap: 50px;
    }
}

.container.start .user_result {
    transform-origin: left;
    animation: userShake 1s ease infinite;
}

@keyframes userShake {
    60% {
        transform: rotate(10deg);
    }
}

.container.start .cpu_result {
    transform-origin: right;
    animation: cpuShake 1s ease infinite;
}

@keyframes cpuShake {
    60% {
        transform: rotate(-10deg);
    }
}

.result_images img {
    width: 100px;
}

@media (max-width: 700px) {
    .result_images img {
        width: 90%;
    }
}

.user_result img {
    transform: rotate(90deg);
}

.cpu_result img {
    transform: rotate(-90deg) rotateY(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.option_image img {
    width: 50px;
    margin: 20px;

}

@media (max-width: 700px) {
    .option_image img {
        margin: 10%;
        font-size: 10px;
        width: 40%;
    }
}

.option_images {
    display: inline-flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;

}

.container.start .option_images {
    pointer-events: none;
}

.option_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.option_image:hover {
    opacity: 1;
}

.option_image.active {
    opacity: 1;
}

.option_image img {
    pointer-events: none;
}

.option_image p {
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}

@media (max-width: 700px) {
    .option_images p {
        font-size: 1rem;
    }
}

.restart_button {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    padding-bottom: -20px;
    justify-content: center;
    background-color: lightgray;
    border: none;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;

}

.guide {
    width: 60%;
    display: block;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 24px;
}



.tutor {
    width: 100%;
    position: relative;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 50%;
    
}

@media (max-width: 700px) {
    .guide {
        
        font-size: 14px;
        
    }
    .tutor {
        top: 20%;
    }

    .pic {
        width: 80%;
    }
}

@media (max-width: 350px) {
    .tutor {
        top: 40%;
    }
}