/* Import Google font - Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}

.container {
    position: relative;
    padding: 2rem 7rem;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;

}

@media (max-width: 700px) {
    .container {
        width: 95%;
        padding: 10%;
    }
}

.result_images img {
    width: 100px;
}

.result_images {
    display: flex;
    column-gap: 7rem;
    justify-content: center;
}

@media (max-width: 700px) {
    .result_images {
        column-gap: 50px;
    }
}

.result {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.option_image img {
    width: 50px;
    margin: 20px;

}

.restart_button {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    padding-bottom: -20px;
    justify-content: center;
    background-color: lightgray;
    border: none;
    padding: 0px 10px;
    border-radius: 4px;
    cursor: pointer;

}